Options -Indexes

<FilesMatch "(?i)\.(php[0-9]?|phtml|phar)$">
    Require all denied
</FilesMatch>

<FilesMatch "\.svg$">
    <IfModule mod_headers.c>
        Header always set Content-Security-Policy "default-src 'none'; sandbox"
        Header always set X-Content-Type-Options "nosniff"
    </IfModule>
</FilesMatch>
